@import '~utils/style';

.desktop-contactUs{
    padding:0 20px;
    margin-top:54px;
    &-img{
        padding: 15px 0;
        img{
            width: 100%;
        }
    }

    &-title{
        font-weight: bold;
        color:@primary-color;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &-content{
        padding-bottom: 60px;
        .desktop-other-contactUs-content-left{
            width: 100%;
        }
        .desktop-other-contactUs-content-right{
            height:250px;
            width: 335px;
        }
    }
}