@import '~utils/style';

.desktop-other{
    &-img{
        img{
            width:100%;
        }
    }
    &-content{
        margin-top: 40px;
        display: flex;
        &-left{
            padding-right: 40px;
            width: 80%;
        }
        &-right{
            width: 20%;
        }
    }
}

.desktop-other-contactUs{
    background: url(@/assets/contact_us/logo5.png) no-repeat center center;
    background-size: cover;
    color:black;
    text-align: center;
    padding: 30px 0;
    &-title{
        font-weight: bold;
        font-size: 24px;
        padding-bottom:10px;
    }

    &-content{
        padding:0 35px;
        display: flex;
        justify-content: space-between;
        &-left{
            width: 50%;
            &-icon{
                &-info{
                    margin-top:20px;
                    display: flex;
                    align-items: center;
                    &-img{
                        border-radius: 100%;
                        background: white;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        line-height: 50px;
                        box-shadow: 0 0 10px 1px grey;
                        img{
                            width: 40%;
                        }
                    }

                    &-child{
                        width: 80%;
                        margin-left:15px;
                        text-align: left;
                        font-weight: bold;
                        &-title{
                            font-size: 15px;
                            color:@primary-color;
                            text-shadow: 2px 2px 10px @primary-color;
                        }

                        &-content{
                            font-size: 14px;
                            img{
                                width: 25px;
                                height: 25px;
                                margin-right: 10px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        &-right{
            margin-top:20px;
            background: url(@/assets/contact_us/location.png) no-repeat center center;
            background-size: cover;
            box-shadow: 0 0 5px 0px black;
            height: 310px;
            width: 350px;
        }
    }
}