@import '~utils/style';

.desktop-other-faqs{
    &-maintitle{
        font-size: 24px;
        font-weight: bold;
    }
    &-divider{
        margin:0px 0 14px 0;
        border-top:1px solid @primary-color;
    }

    &-content{
        font-size: 13px;
       &-title{
           font-weight: bold;
           color:@primary-color;
           font-size: 16px;
       }
    }
}