@import '~utils/style';

.mobile-homePage{
  overflow-y: scroll;
  width: 100%;
  position:relative;
  padding-bottom: 60px;
  padding: 0 10px;
  overflow-x: hidden;
  /* &-top_nav{
    width: 100%;
    height: 54px;
    color: #fbdeb0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: -moz-linear-gradient(left, #FF8D45 0%, @primary-color 50%, @primary-color 100%);
    background: -webkit-linear-gradient(left, #FF8D45 0%, @primary-color 50%, @primary-color 100%);
    background: linear-gradient(to right, #FF8D45 0%, @primary-color 50%, @primary-color 100%);
    display: flex;
    align-items: center;
    padding: 0 15px;

    &-drawer{
      .ant-drawer-body{
        padding:0;
      } 

      .ant-drawer-wrapper-body{
        overflow: scroll;
        height: 93%;
      }
      .ant-drawer-close{
        color:white;
      }

      .ant-drawer > * {
        transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), height 0s ease 0.3s, width 0s ease 0.3s;
      }
      
      &-menu_list{
        .active{
          color:@primary-color;
        }
        &-child{
          &-box{
            display: flex;
            align-items: center;
          }
          padding: 10px 15px;
          color: #888;
          &-icon{
            width: 10%;
            text-align: center;
          }
          &-title{
            width: 80%;
            font-weight: bold;
          }
  
          &-dropdown{
            font-size: 10px;
            width: 10%;
            text-align: center;
          }

          &-content_list{
            color: #888;
            &-child{
              &-icon{
                width: 0;
              }

              &-title{
                padding: 3px 25px;
                font-size: 13px;
                &-tp{
                  font-style: italic;
                  font-size: 12px;
                  color: #bdbdbd;
                }
              }
            }
          }
        }
      }

      &-login_btn{
        display: flex;
        align-items: center;
        padding: 10px 15px;
        justify-content: space-between;
        border-bottom: 1px dashed #ddd;
        &-btn{
          padding: 5px 0;
          width: 100px;
          text-align: center;
          font-weight: bold;
          box-shadow: 0 0 3px 1px #d0d0d0;
          color: #f1c40f;
        }
      }

      &-main_part{
        text-align: center;
        background:@primary-color;
        padding: 10px 20px;
        &-img{
          padding: 0 0 20px 0;
          width: 100%;
          img{
            width: 50%;
          }
        }

        &-login{
          color:white;
        }
      }
    }
    

    &-img{
      width: 50%;
      text-align: center;
      img{
        width: 100%;
      }
    }

    &-icon{
      text-align: right;
      width: 50%;
      font-size: 20px;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
      border-radius: 5px;
    }
  } */
  
  &-top_banner{
    margin-top:54px;
    //height:200px
    .am-carousel-wrap-dot{
      span{
        background-color: @primary-color;
      }
    }
    .am-carousel-wrap-dot-active{
      span{
        background-color: @primary-color;
      }
    }
  }

  &-newsAndEvents{
    //background: white;
    //padding: 5px 10px;
    margin-top: 10px;
    border-radius: 3px;
    &-top{
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      font-size: 16px;
      font-weight: bold;

      &-right{
        width: 50px;
        text-align: right;
        margin-right:10px;
      }
    }

    &-bottom{
      &-child{
        color: #888;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &-faqs{
    //background: white;
    //padding: 5px 10px;
    margin-top: 10px;
    border-radius: 3px;
    
    &-top{
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      font-size: 16px;
      font-weight: bold;

      &-right{
        width: 50px;
        text-align: right;
        margin-right:10px;
      }
    }

    &-bottom{
      &-child{
        color: #888;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span{
          color:@primary-color;
        }
      }
    }
  }

  &-testimonial{
    //background: white;
    //padding: 5px 10px;
    padding-bottom: 60px;
    margin-top: 10px;
    border-radius: 3px;
    
    &-top{
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      font-size: 16px;
      font-weight: bold;

      &-right{
        width: 50px;
        text-align: right;
        margin-right:10px;
      }
    }

    &-bottom{
      .desktop-testimonial-content-child{
        margin-top:20px;
      }
      &-child{
        color: #888;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span{
          color:@primary-color;
        }
      }
    }
  }

  &-func{
    margin-top: 20px;
    //background: white;
    //padding: 5px 10px;
    height: 130px;
    justify-content: space-between;
    display: flex;

    &-btn{
      overflow: hidden;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 48%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 20px;
      transition: all .1s;

      &-title{
        width: 100%;
        text-align: center;
        background: #0c0c0c8c;
      }
    }
  }

  

  &-space_carousel {
    padding: 16px;
    //background: #DEF1E5;
    overflow: hidden;
    height: 300px !important;
    .am-carousel-wrap-dot{
      span{
        background-color: @primary-color;
      }
    }
    .am-carousel-wrap-dot-active{
      span{
        background-color: @primary-color;
      }
    }
    &-title{
      span{
        font-weight: 600 !important;
      }
    }

    &-news{
      //background-color:#9490901f ;
      height: 400px;
      padding:30px 200px;
      &-title{
          font-size:22px;
          font-weight: bold;
          text-align: center;
      }

      &-content{
          padding: 13px 0;
          justify-content: center;
          display:flex;
          align-items: center;
          &-icon{
              color:@primary-color;
              font-size:50px;
          }
          &-father{
              overflow-x:hidden;
              display:flex;
              align-items: center;
              &-child{
                  margin-top:10px;
                  margin-bottom:10px;
                  margin-right:30px;
                  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  
                  &-card{
                      &-date{
                          color:red;
                          //font-weight: bold;
                          font-style:italic;
                      }
                      &-title{
                          font-weight: bold;
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                      }

                      &-desc{
                          color:#a99c9c;
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                      }
                  }
              }
          }
          
      }
    }
  }
}