@import '~utils/style';

.mobile-apply_form{
    position: fixed;
    bottom: 50px;
    left: 0%;
    width: 100%;
    background: @primary-color;
    color: white;
    padding: 10px 0;
    z-index: 10;
    &-btn{
        text-align: center;
    }
}