@import '~utils/style';

.desktop-footer{
    height: auto;
    background:  @primary-color;
    text-align: center;
    &-logo{
        padding: 10px 0;
    }
    &-desc{
        //padding: 10px 0;
        color:white;
        font-weight: 600;
        display:flex;
        font-size:20px;
        &-child{
            width:50%;
            &-title{
                
            }

            &-content{
                &-icon{
                    display: flex;
                    justify-content: center;
                    &-text{
                        border: unset;
                        color:white;
                        width:auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        div{
                            //width: 85px; 
                        }
                        &:hover{
                            color:white;
                            border-bottom: 1px solid white;
                        }
                        
                    }
                }
                
            }
           
        }
    }

    &-copy_right{
        color:white;
        font-size: 10px;
        background-color: #ff75085e;
        padding:5px 0;
    }

}