.newsAndEvents{
    width: 100%;
    padding: 10px 1rem;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &-box{
        height: 120px;
        width: 48%;
        margin-top: 10px;
        margin-bottom: 15px;
        box-shadow: 0 0 5px 0px grey;

        &-child{
            display: flex;

            &-img{
                width: 180px;
                img{
                    height: auto;
                    width: 180px;
                }
            }

            &-detail{
                padding:10px 7px;
                text-align: left;
                position: relative;
                width: 100%;
                &-type{
                    line-height: 1;
                    font-size: 22px;
                    color: red;
                    font-weight: bold;
                }

                &-date{
                    font-size: 14px;
                    font-style: italic;
                    color: green;
                }

                &-topic{
                    font-size: 13px;
                    font-weight: bold;
                }

                &-viewMore{
                    color:blue;
                    text-align: right;
                    right:0;
                    bottom: 0;
                    padding: 5px;
                    font-size: 12px;
                    position: absolute;
                }
            }
        }

        &-content{
            //transition: all .5s ease;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.26s ease-out opacity 0.5s linear;
            opacity: 0;
            //height: 0;
            padding:10px 20px;
            text-align: left;
        }
    }

    .active{
        //height: auto;
        .newsAndEvents-box-content{
            transform: scaleY(1);
            transition: transform 0.26s ease-in;
            padding: 10px 20px;
            opacity: 1;
            text-align: left;
            height: auto;
            box-shadow: 0px 5px 5px 0 grey;
            background-color: white;
            z-index: 10000;
            position: relative;
        }
    }
}