
.login
{
    &_body
    {
        height:100%;
        width:100%;
        display:flex;
        background: url('@/assets/images/login-background.jpg') no-repeat 50%;
        background-size: 100% 100%;
        justify-content: center;
        align-items:center;
        background-color: grey;
        position:fixed;
        left:0;
        top:0;
    }
    
    &_form
    {
        border-radius:20px;
        padding:15px 15px;
        background-color:white;
        width:25%;
        display:block;
        text-align: center;
    }

    &_avatarIcon
    {
        margin-bottom:10px;
    }

    &_username
    {
        margin-bottom:5px;
    }

    &_changeLanguage
    {
        display:flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    &_languagebtn
    {
        font-size:10px;
    }
}
#root
{
    height:100%;
}