<!DOCTYPE html>
<html style="background:#f5f5f5;">

<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#000000">
    <meta name="screen-orientation" content="portrait">
    <!-- <title>Edu Dotcom</title> -->
    <!-- set `maximum-scale` for some compatibility issues -->
    <!-- <meta name="description" content="最具公信力的免中介费日本留学一站式协助平台。 The most reputable one-stop service platform for studying in Japan without agency fees.">
    <meta name="keywords" content="最具公信力的免中介费日本留学一站式协助平台。 The most reputable one-stop service platform for studying in Japan without agency fees."> -->

    <!-- 强制显示方式 -->
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <!-- 允许全屏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 顶端状态条样式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- 忽略将数字变为电话号码 -->
    <meta content="telephone=no" name="format-detection">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- qq强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- uc强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- qq强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- uc应用模式 -->
    <meta name="browsermode" content="application">
    <!-- qq应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VLYNYKBMK5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VLYNYKBMK5');
    </script>
    <!--  <script src="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/3.0.0/vconsole.min.js"
    type="text/javascript"></script> -->
    <!-- <script>
    if (window.location.hostname.indexOf('192.168.0') >= 0) {
      var vConsole = new VConsole();
    }
  </script> -->
    <script>
        var winWidth = window.innerWidth;
        var winHeight = window.innerHeight;
        var perRemPx = document.getElementsByTagName("html")[0].clientWidth / 7.5;

        window.addEventListener("resize", function () {
            perRemPx = document.getElementsByTagName("html")[0].clientWidth / 7.5;
            document.getElementsByTagName("html")[0].style.fontSize = perRemPx + "px";
        });
        document.getElementsByTagName("html")[0].style.fontSize = perRemPx + "px";

        if ('addEventListener' in document) {
            document.addEventListener('DOMContentLoaded', function () {
                FastClick.attach(document.body);
            }, false);
        }
        if (!window.Promise) {
            document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"' + '>' + '<' + '/' + 'script>');
        }


    </script>
</head>

<body>
    <div id="root" style="background:#f5f5f5;"></div>
</body>

</html>