@import '~utils/style';
.viewSchool {
  //padding: 0 10px;
  padding-bottom: 60px;
  &-img {
    text-align: center;
  }
  
  &-official_website{
    text-align: center;
    color:@primary-color;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
    padding-bottom: 10px;
  }

  &-description {
    &-title {
      background-color: white;
      margin: 0 !important;
      border-top:1px solid @primary-color;
      span{
        color:@primary-color;
      }
    }

    &-schoolTitle{
      color:@primary-color;
      padding: 0 30px;
      font-size: 20px;
      background-color: white;
    }
  }

  &-course {
    margin-top:15px;
    &-list {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0px;
      justify-content: space-between;
      &-child{
        width: 40%;
        flex: 0 0 45%;
        margin-left: 15px;
        margin-bottom: 10px;

        &:hover{
          color:@primary-color;
        }
      }
    }
  }
  .anticon{
    color:@primary-color !important;
  }

  .ant-descriptions-view{
    background: white;
  }
  
}

