.classify-list-page {
    //width: 500px;
    border-top: 1px solid #ccc;
 
 >.title {
     font-size: 16px;
     font-weight: 500;
 }
 
 >.sub-title {
     height: 50px;
     display: flex;
     align-items: center;
     font-size: 14px;
     color: rgba(0, 0, 0, 0.85);
     font-weight: 500;
 
     >span:first-child {
         display: flex;
         align-items: center;
         width: 200px;
 
         &:before {
             content: '';
             width: 18px;
             height: 16px;
             margin: 0 10px 0 15px;
         }
     }
 }
 
 .classify-list {
     >.name {
         font-weight: 500;
         font-size: 14px;
         height: 40px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         background: #F0F2F5;
         padding: 0 15px;
         border-radius: 2px;
     }
 
     &-btnList{
         display: flex;
         align-items: center;
         &-btn{
             margin-right:5px;
         }
     }
     >.target,
     >.persons {
         min-height: 80px;
         display: flex;
         flex-wrap: wrap;
        margin-top:10px;
         >.person-card {
             height: 100%;
             //display: flex;
             //flex-direction: column;
             //align-items: center;
             //justify-content: center;
             width: 30%;
             margin-right: 20px;
             margin-top: 10px;
             border: 1px solid gold;
             font-size: 12px;
             //margin: 5px;
             cursor: pointer;
             //position: relative;
             border-radius: 5px;
             padding: 10px 10px;
 
             >.mask {
                 position: absolute;
                 left: 10px;
                 right: 10px;
                 top: 10px;
                 bottom: 10px;
                 display: none;
             }
 
             .mask-show {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 background: rgba(0, 0, 0, 0.1);
             }
 
             >img {
                 width: 50px;
                 height: 60px;
             }
         }
      }
   }
 }

.arrangementList{
    position: fixed;
    right:0;
    top:100px;
    &-child{
        width: 120px;
        background: #5e94e5;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border-radius: 20px;
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
        padding: 10px 10px;
    }
 }