.desktop_loading{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &-png{
        margin-bottom: 120px;
        position: absolute;
        width: 250px;
    }

    &-gif{
        width: 250px;
        height:auto;
    }
}