@import '~utils/style';
.desktop{
    width: 100%;
    height:100%;
    &-top_nav{
        box-shadow: 0 0 10px 1px #ddddddbd;
        background-color: white;
        z-index: 10000;
        color: white;
        position: fixed;
        margin-top:auto;
        margin-bottom:auto;
        display: flex;
        top:0;
        left:0;
        height: 60px;
        width: 100%;
        z-index: 10000;

        &-logo{
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 10px;
        }
        &-menu{
            font-size: 20px;
            display: flex;
            //justify-content: center;
            align-items: center;
            width: 60%;
            flex-flow: row wrap;

            /* button:last-child{
                border-right:unset;
                content:'';
            }

            button{
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                margin-left: 10px;
                border-radius: unset;
                font-size: 15px;
            } */
           
            &-child:hover{
                color:@primary-color;
                //border-right:1px solid @primary-color;

                .desktop-top_nav-menu-child-text{
                    border-bottom:2px solid @primary-color;
                }
            }
            &-child{
                border:unset;
                //flex-basis: 33%;
                color:@primary-color;
                text-align: center;
                box-shadow:unset;
                display: flex;
                align-items: center;
                font-size: 15px;
                padding:5px 0.09rem;
                font-weight: bold;
                cursor: pointer;
                span{
                    margin-left:5px;
                }
            }
        }

        &-me{
            color:@primary-color;
            width: 20%;
            display: flex;
            align-items: center;
            
            button{
                background-color:@primary-color;
                color:white;
                //font-size: 18px;
                border-radius: 10px;
                border:1px solid @primary-color;
                //border:unset;
                //box-shadow:unset;
                font-weight: 600;
            }
           
            &-child:hover{
                color:@primary-color;
            }

            span{
                height: 70%;
                font-size: 30px;
                margin-right: 15px;
                svg{
                    margin-top: 6px;
                }

                &:hover{
                    border-bottom: 2px solid @primary-color;
                }
            }

            img{
                width: 40px;
                &:hover{
                    border-bottom: 2px solid @primary-color;
                }
            }
        }
    }

    &-content{
        height: 100%;
        padding-top: 60px;
    }
}