@import '~utils/style';

.desktop{
    &-header{
        background: white;
        &_top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            padding: 5px 0;
            width: 1100px;
            img{
                width:15%;
            }

            &-menu{
                display: flex;
                align-items: center;
                a{
                    font-weight: bold;
                    margin-left: 10px;
                    color: @primary-color;
                    
                }

                a:hover{
                    border-bottom:1px solid @primary-color;
                }

                span{
                    margin-left: 10px;
                    color:@primary-color;
                    font-size: 30px;
                }
            }
        }
        &_menu{
            position: relative;
            z-index: 901;
            width: 100%;
            background-color: @primary-color;
            &-content{
                margin: auto;
                width: 1100px;
                &-ul{
                    display: flex;
                    overflow: hidden;
                    padding-inline-start: unset;
                    margin-bottom: unset;
                    li{
                        font-family: 'notokr-regular','arial';
                        font-weight: 600;
                        flex:1;
                        a{
                            display: block;
                            color:white;
                            padding: 10px 0 10px 0;
                        }
                        a:hover{
                            //text-decoration:underline;
                        }
                    }
                }
            }
        }

        &_menu:hover + .desktop-header_dropdown{
            height:300px;
            opacity: 1;
            margin-top: 0;
            li{
                height: auto;
                a{
                    height: auto;
                }
            }
        }

        &_dropdown{
            opacity: 0;
            height: 0;
            transition: all 0.3s;
            position: absolute;
            width: 100%;
            z-index: 900;
            background-color: #000000c7;
            margin-top: -42px;
            &-content{
                margin: auto;
                width: 1100px;
                display: flex;
                &-ul{
                    padding-inline-start: unset;
                    margin-bottom: unset;
                    flex:1;
                    li{
                        font-family: 'notokr-regular','arial';
                        flex:1;
                        height: 0;
                        a{
                            height: 0;
                            display: block;
                            color:white;
                            padding: 10px 20px 10px 0;
                            div{
                                font-style: italic;
                                color:#ffffff87;
                            }
                        }
                        a:hover{
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
        &_dropdown:hover{
            height:300px;
            opacity: 1;
            margin-top: 0;
            li{
                height: auto;
                a{
                    height: auto;
                }
            }
        }
    }

    &-content{
        margin: auto;
        width: 1100px;
    }

    &-footer{
        margin-top: 20px;
        padding:30px 0;
        background-color: #3e3b3b;
        border-top: 1px solid #ccc;
        &-content{
            margin: auto;
            width: 1100px;
            &-title{
                &-ul{
                    overflow: hidden;
                    padding-inline-start: unset;
                    margin-bottom: unset;
                    display: flex;
                    font-weight: bold;
                    li{
                        text-align: left;
                        flex:1;
                        a{
                            color:#ff8a5a;
                        }
                        a:hover{
                            color:#f9ae6e;
                            cursor: default;
                        }
                    }
                }
            }
            &-child{
                margin-top:10px;
                display: flex;
                &-ul{
                    padding-inline-start: unset;
                    margin-bottom: unset;
                    flex:1;
                    li{
                        text-align: left;
                        font-family: 'notokr-regular','arial';
                        flex:1;
                        font-size: 12px;
                        a{
                            display: block;
                            color: #ccc;
                            padding: 0px 25px 10px 0;
                            div{
                                font-style: italic;
                                color: grey;
                            }
                        }
                        a:hover{
                            text-decoration:underline;
                        }
                    }
                }
            }
            
        }
    }
    &-lesson{
        background-color: #4d4d4d;
        &-content{
            display: flex;
            padding: 40px 0;
            margin: auto;
            width: 1100px;
            &-school_name{
                text-align:left;
                width:30%;
                display: flex;
                align-items: center;
                a{
                    color:#d4d4d4;
                }
            }
            &-copyright{
                font-size: 12px;
                text-align: left;
                color:#ccc;
            }
        }
    }

    &-backToTop{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        line-height: 50px;
        text-align: center;
        color:white;
        background:@primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        
        span{
            font-size: 25px;
        }
    }

    &-tools{
        display: block !important;
        right:40px;
        height:40px;
        //transition: all 0.5s;
        &-main{
            border-radius: 50px;
            background:#3f51b5;
            font-size: 20px;
            text-align: center;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
            span{
                font-size: 30px;
            }
        }
        &-list{
            &-menu{
                margin-bottom:10px;
                img{
                    width: 100%;
                    border-radius: 50px;
                }
            }
        }
    }
}

@media 
(max-width: 1280px) and (min-width: 1050px){
    .desktop-header_top, 
    .desktop-content, 
    .desktop-header_menu-content, 
    .desktop-header_dropdown-content,
    .desktop-lesson-content,
    .desktop-footer-content {
        width: 1010px;
    }
}
@media 
(max-width: 1050px){
    .desktop-header_top, 
    .desktop-content, 
    .desktop-header_menu-content, 
    .desktop-header_dropdown-content,
    .desktop-lesson-content,
    .desktop-footer-content {
        width: auto;
        margin: 0 30px;
    }
}
/* @media 
(max-width: 980px){
    .desktop-header_top {
        width: 1300px;
    }
} */