
.mobile-desc{
  .ant-card-meta-title {
    text-overflow: unset;
    font-size: 12px;
    white-space: unset;
  }
  
  .ant-collapse .ant-collapse-item .ant-collapse-header svg {
    color: #f1662f;
  }
  .slick-list{
    height:100%;
  } 
}