
@import '~utils/style';

.desktop-login{
  &_background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#00000070,#00000070), url('@/assets/login_backgrond.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    &-main{
      position: fixed;
      height: 100%;
      width:100%;
      left:0;
      top:0;
      padding: 10px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      &-content{
        //background-color: white;
        width: 320px;
        background: #ffffffbd;
        padding: 0px 25px;
        border-radius: 10px;
        

        &-error_message{
          color:red;
          font-size: 12px;
          text-align: center;
        }
        &-logo{
            padding: 7px 0;
            text-align: center;
        }

        &-login_info{
          padding: 10px 5px;
          background: #a57f62c7;
          border-radius: 5px;
          &_address{
            display: flex;
            justify-content: center;
            align-items: center;
            &_icon{
              font-size: 20px;
              text-align: center;
              width: 50px;
              color:white;
            }
            
            &_input{
              font-size: 15px;
              border:unset;
              color:white;
              background: transparent;

              &::placeholder{
                color:white;
              }
              input{
                font-size: 15px;
                border:unset;
                color:white;
                background: transparent;

                &::placeholder{
                  color:white;
                }
              }
            }
          }
        }
        a:active{
          color:white;
        }
        a:hover{
          color:white;
        }
        .am-button-active{
          background: #da5925;
        }
        
        &-login_btn{
          margin-top:20px;
          border-radius: 10px;
          background: #f16730b0;
          color:white;
        }
        
        &-register_btn{
            cursor: pointer;
            color:black;
            text-align: center;
            margin-top:10px;
        }

        &-forgetPassword_btn{
            cursor: pointer;
            color:blue;
            text-decoration: underline;
            font-size: 13px;
            text-align: center;
            margin-top: 5px;
            padding-bottom: 14px;
        }
      }
    }
}


html:not([data-scale]) .am-button::before {
    border: unset;
}

.ant-input,.ant-input-password {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

.ant-input-suffix {
  font-size: 17px;
}

.ant-input-affix-wrapper-focused{
    border-color:unset !important;
    box-shadow: unset !important;
}