@import '~utils/style';

.top_box-big {
  height: 100px;
}

.top_box-small {
  height: 54px;
}

.top_banner {
  //height: 15%;
  color: #fbdeb0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background: -moz-linear-gradient(left, #FF8D45 0%, @primary-color 50%, @primary-color 100%);
  background: -webkit-linear-gradient(left, #FF8D45 0%, @primary-color 50%, @primary-color 100%);
  background: linear-gradient(to right, #FF8D45 0%, @primary-color 50%, @primary-color 100%);

  &-content {
    height: 54px;
    width: 100%;
    position: relative;
    display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 15px 5px;

    &-icon {
      height: 100%;
      width: auto;
      margin: auto;
    }

    &-title {
      text-align: center;
      height: 100%;
      font-size: 115%;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-filter {
      height: 100%;
      position: absolute;
      right: 0;
      //top: 0;
      //display: flex;
      padding:0 5px;
      //align-items: center;
      //width: 120px;

      &_icon {
        //font-size: 125%;
        //width:120px;
      }
    }

    &-left{
      height: 100%;
      position: absolute;
      left: 0;
      padding: 0 5px;
      //width: 120px;
    }
  }

  &-content2 {
    border-radius: 15px 15px 0 0;
    background-color: white;
    height: 50px;
    width: 100%;
    //border: 1px solid green;

    &-menus {
      display: flex;
      color: #4a3c3cad;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-left: 0;

      &_child {
        text-align: center;
        width: 100%;
      }
    }
  }
}
