@import '~utils/style';

.desktop{  
    &-homePage{
        //background-color: #f8944742;
        height: 100%;
        width:100%;

        &-top_banner{
            position: relative;
            .slick-list{
                height: 50%;
            }
            .slick-dots,.slick-dots-bottom{
                button{
                    border-radius: 50px !important;
                    width: 10px !important; 
                    height: 10px !important;
                }
            }
            .ant-carousel .slick-dots li.slick-active{
                width: unset;
            }
            .ant-carousel .slick-dots li {
                width: unset;
            }

            .ant-carousel .slick-dots li.slick-active button {
                background:  @primary-color;
                opacity: 1;
            }

            .ant-carousel .slick-dots li button {
                background:  @primary-color;
                opacity: 0.3;
            }
        }

        &-news{
            //background-color:#9490901f ;
            //height: 400px;
            //padding:30px 200px;
            padding:15px 200px;
            
            &-title{
                font-size:22px;
                font-weight: bold;
                text-align: center;
            }

            &-content{
                padding: 13px 0;
                justify-content: center;
                display:flex;
                align-items: center;
                &-icon{
                    color:@primary-color;
                    font-size:50px;
                }
                &-father{
                    overflow-x:hidden;
                    display:flex;
                    align-items: center;
                    &-child{
                        margin-top:10px;
                        margin-bottom:10px;
                        margin-right:30px;
                        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        
                        &-card{
                            &-date{
                                color:red;
                                //font-weight: bold;
                                font-style:italic;
                            }
                            &-title{
                                font-weight: bold;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            &-desc{
                                color:#a99c9c;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
                
            }
        }
        
        &-box{
            display: flex;
            margin-top:30px;
            &-news{
                margin-right: 20px;
                width: 24%;
                &-part1{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 10px 10px 0;
                    align-items: center;
                    &-title{
                        font-weight: bold;
                        font-size: 20px;
                    }

                    &-viewMore{
                        cursor: pointer;
                    }
                }

                &-part2{
                    color:grey;
                    //display: flex;
                    //align-items: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 12px;
                    padding: 1px 0;
                }

                &-part2:hover{
                    cursor: pointer;
                    .desktop-homePage-box-news-part2-topic{
                        font-weight: bold;
                        font-size: 13px;
                    }
                }
            }
            &-faqs{
                margin-right: 20px;
                width: 24%;
                &-part1{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 10px 10px 0;
                    align-items: center;
                    &-title{
                        font-weight: bold;
                        font-size: 20px;
                    }
                    &-viewMore{
                        cursor: pointer;
                    }
                }

                &-part2{
                    //padding: 1px 0;
                    color:grey;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    //font-size: 13px;
                }

                &-part2:hover{
                    cursor: pointer;
                    font-weight: bold;
                }
            }

            &-shortcut{
                width: 48%;
                display: flex;
                justify-content: space-between;
                &-part1{
                    overflow: hidden;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    width: 48%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    //font-weight: bold;
                    font-size: 20px;
                    transition: all 0.1s;
                    div{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                        background: #0c0c0c8c;
                    }
                }

                &-part1:hover{
                    background-size: 120% 120%;
                    color:#ffa079;
                    //font-size: 17px;
                }

                &-part2{

                }
            }
        }

        &-about_us{
           // height: 500px;
            //position: relative;
            //padding: 60px 340px;
            //  &-content{
            //     top: 0;
            //     left: 0;
            //     padding: 20px 200px;
            //     position: absolute;
            //     background-color:#ff000000;
            //     font-size:16px;

            //     &-title{
            //         font-size:22px;
            //         font-weight: bold;
            //     }

            //     &-content{
            //         font-family: emoji;
            //     }
            // }
             &-image{
                /* top:0;
                left:0; */
                //position: absolute;
                 //filter: blur(5px);
                 //margin-top: 10px;
                //height:400px;
                //width: 100%;
                //background-image: url('@/assets/about_us.jpg');
             } 
        }

       /*  &-testimonial{
            position: relative;
            &-background_img{
                //position: absolute;
                //bottom: 0;
                //left: 0;
                &-box{
                    height: 150px;
                }

                &-img{
                    height: 250px;
                    overflow: hidden;
                }
            }
            &-content{
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                width: 100%;
                &-child{
                    display: flex;
                    width: 50%;
                    &-avatar{
                        width: 190%;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            
        } */
        &-testimonial{
            background: url(@/assets/testimonial/backgroud.jpg) no-repeat center center !important;
            display: flex;
            padding: 15px 0;
            background:white;
            margin-top: 30px;

            &-child{
                width: 100%;
                display: flex;
                
                &-img{
                    margin: auto;
                    &-child{
                        img{
                            width: 100%;
                        }
                    }
                }
    
                &-content{
                    &-top{
                        width: 100%;
                        display: flex;
                        &-left{
                            width: 10%;
                            font-size: 100px;
                            text-align: right;
                        }
        
                        &-center{
                            width: 80%;
                            display: flex;
                            padding:0 20px;
                            align-items: center;
                            font-weight: bold;
                        }
        
                        &-right{
                            width: 10%;
                            font-size: 100px;
                            margin-top:110px;
                        }
                    }

                    &-bottom{
                        padding: 0 20px;
                        margin-top: -50px;
                        margin-left: 10%;
                        &-name{
                            font-size: 30px;
                            font-weight: bold;
                            color: #3901f8;
                        }
                        &-school{
                            font-size: 20px;
                            align-items: center;
                            display: flex;
                            &-img{
                                margin-right: 10px;
                                width: 10%;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                    
                }
            }
            
            &-viewMore{
                height: 80px;
                width: 80px;
                font-size: 30px;
                background: red;
                color: white;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}