/* @import '~utils/style';

.desktop{  
    &-homePage{
        //background-color: #f8944742;
        height: 100%;
        width:100%;

        &-top_banner{
            position: relative;
            .slick-list{
                height: 50%;
            }
            .slick-dots,.slick-dots-bottom{
                button{
                    border-radius: 50px !important;
                    width: 10px !important; 
                    height: 10px !important;
                }
            }
            .ant-carousel .slick-dots li.slick-active{
                width: unset;
            }
            .ant-carousel .slick-dots li {
                width: unset;
            }

            .ant-carousel .slick-dots li.slick-active button {
                background:  @primary-color;
                opacity: 1;
            }

            .ant-carousel .slick-dots li button {
                background:  @primary-color;
                opacity: 0.3;
            }
        }

        &-news{
            //background-color:#9490901f ;
            //height: 400px;
            //padding:30px 200px;
            padding:15px 200px;
            
            &-title{
                font-size:22px;
                font-weight: bold;
                text-align: center;
            }

            &-content{
                padding: 13px 0;
                justify-content: center;
                display:flex;
                align-items: center;
                &-icon{
                    color:@primary-color;
                    font-size:50px;
                }
                &-father{
                    overflow-x:hidden;
                    display:flex;
                    align-items: center;
                    &-child{
                        margin-top:10px;
                        margin-bottom:10px;
                        margin-right:30px;
                        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        
                        &-card{
                            &-date{
                                color:red;
                                //font-weight: bold;
                                font-style:italic;
                            }
                            &-title{
                                font-weight: bold;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            &-desc{
                                color:#a99c9c;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
                
            }
        }

        &-about_us{
           // height: 500px;
            //position: relative;
            //padding: 60px 340px;
            //  &-content{
            //     top: 0;
            //     left: 0;
            //     padding: 20px 200px;
            //     position: absolute;
            //     background-color:#ff000000;
            //     font-size:16px;

            //     &-title{
            //         font-size:22px;
            //         font-weight: bold;
            //     }

            //     &-content{
            //         font-family: emoji;
            //     }
            // }
             &-image{
                /* top:0;
                left:0; */
                //position: absolute;
                 //filter: blur(5px);
                 //margin-top: 10px;
                //height:400px;
                //width: 100%;
                //background-image: url('@/assets/about_us.jpg');
             /* } 
        }
    }
}  */