@import '~utils/style';

.desktop-searchBar{
    position:absolute;
    background-color: #f2693121;
    height: 80px;
    width: 100%;
    top:68%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    &-content{
        display: flex;
        justify-content: center;
        align-items: center;
        &-child{
            text-align: center;
            &-radio{
                text-align: left;
            }
            .ant-btn {
                border:1px solid @primary-color;
                margin-right:10px;
                border-radius: 10px;
                //color:@primary-color;
                :hover{
                    color:unset;
                }
            }
            .ant-btn:hover{
                color:@primary-color;
                border:1px solid @primary-color;
            }
            
            .ant-radio-checked{
                .ant-radio-inner {
                    border-color: @primary-color;
                }

                .ant-radio-inner::after{
                    background-color: @primary-color;
                }
            }
        }
        
    }
    
}