@import '~utils/style';

.desktop-introduction{
    &-img{
        img{
            width:100%;
        }
    }
    &-content{
        margin-top: 40px;
        display: flex;
        &-left{
            padding-right: 40px;
            width: 80%;
        }
        &-right{
            width: 20%;
        }
    }
}

.desktop-introduction-about_us{
    &-maintitle{
        font-size: 24px;
        font-weight: bold;
    }
    .ant-divider{
        margin:0px 0 24px 0;
        border-top:1px solid @primary-color;
    }

    &-content{
        &-title{
            color:@primary-color;
            font-size: 18px;
            font-weight: bold;
        }
    }

    
}