@import '~utils/style';

.desktop-introduction-newsAndEvents{
    &-maintitle{
        font-size: 24px;
        font-weight: bold;
    }
    .ant-divider{
        margin:0px 0 14px 0;
        border-top:1px solid @primary-color;
    }

    &-content{
        &-list{
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(auto-fill, 260px);
            grid-gap: 10px;
            &-child{
                margin-top: 15px;
                width: 260px;
                border-radius: 8px;
                background: white;
                padding: 10px;
                cursor: pointer;
                transition: all 0.2s ease-in-out 0s;
                &-date{
                    margin-top: 5px;
                    font-style: italic;
                    color: #909090;
                    font-weight: bold;
                }
                &-img{
                    img{
                        width:100%;
                    }
                }

                &-topic{
                    height:44px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }

                &:hover{
                    box-shadow: 0 0 15px 1px #80808073;
                    transform: translate(0px, -3px);
                }
            }
        }
    }
}