@import '~utils/style';

.desktop-introduction-ourPartners{
    &-maintitle{
        font-size: 24px;
        font-weight: bold;
    }
    .ant-divider{
        margin:0px 0 14px 0;
        border-top:1px solid @primary-color;
    }

    &-content{
        .ant-tabs-tab:hover{
            color:@primary-color;
        }
        .ant-tabs-tab-btn{
            color:#888;
        }
        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
            color:@primary-color;
        }
        .ant-tabs-top > .ant-tabs-nav::before, 
        .ant-tabs-bottom > .ant-tabs-nav::before, 
        .ant-tabs-top > div > .ant-tabs-nav::before, 
        .ant-tabs-bottom > div > .ant-tabs-nav::before{
            border-bottom: 1px solid #ddd;
        }
        .ant-tabs-ink-bar{
            background:@primary-color;
        }
        .ant-tabs-top{
            margin-top:30px;
        }

        &-tab{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            &-child{
                padding:10px 0;
                margin-right: 10px;
                width: 45%;

                &-note{
                    font-style: italic;
                    font-size: 11px;
                    color:black;
                }
            }

            a:hover{
                color:@primary-color;
            }
        }
    }
}