@import '~utils/style';

.desktop{
    &-introduction{
        &-policies{
            &-maintitle{
                font-size: 24px;
                font-weight: bold;
            }
            .ant-divider{
                margin:0px 0 24px 0;
                border-top:1px solid @primary-color;
            }

            &-subTitle{
                font-weight: bold;
                font-size: 20px;
                margin: 0 0 10px 0;
            }

            &-important{
                font-weight: bold;
                font-size: 18px;
                color:red;
                margin: 0 0 5px 0;
            }

            &-content{
                margin: 0 0 24px 0;
            }
        }
    }
}