@import '~utils/style';

.desktop-introduction-testimonial{
    &-maintitle{
        font-size: 24px;
        font-weight: bold;
    }
    .ant-divider{
        margin:0px 0 14px 0;
        border-top:1px solid @primary-color;
    }

    &-content{
       &-korea{
            background: url(@/assets/testimonial/backgroud.jpg) no-repeat center center !important;
            display: flex;
            padding: 15px 0;
            background:white;
            margin-top: 30px;
            &-child{
                width: 100%;
                display: flex;
                &-left{
                    margin: auto;
                    &-img{
                        img{
                            width: 100%;
                        }
                    }
                }

                &-right{
                    &-top{
                        width: 100%;
                        display: flex;
                        &-box1{
                            width: 10%;
                            font-size: 100px;
                            text-align: right;
                        }
                        &-box2{
                            width: 80%;
                            display: flex;
                            padding:0 20px;
                            align-items: center;
                            font-weight: bold;
                        }
                        &-box3{
                            width: 10%;
                            font-size: 100px;
                            margin-top:110px;
                        }
                    }

                    &-bottom{
                        padding: 0 20px;
                        margin-top: -50px;
                        margin-left: 10%;
                        &-name{
                            font-size: 30px;
                            font-weight: bold;
                            color: #3901f8;
                        }

                        &-country{
                            font-size: 20px;
                            align-items: center;
                            display: flex;
                            &-img{
                                margin-right: 10px;
                                width: 10%;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
       }
       &-singapore{
            background: url(@/assets/testimonial/singapore_backgroud.jpg) no-repeat center center !important;
            display: flex;
            padding: 15px 0;
            background:white;
            margin-top: 30px;
            &-child{
                width: 100%;
                display: flex;
                &-left{
                    margin: auto;
                    &-img{
                        img{
                            width: 100%;
                        }
                    }
                }

                &-right{
                    &-top{
                        width: 100%;
                        display: flex;
                        &-box1{
                            width: 10%;
                            font-size: 100px;
                            text-align: right;
                        }
                        &-box2{
                            width: 80%;
                            display: flex;
                            padding:0 20px;
                            align-items: center;
                            font-weight: bold;
                        }
                        &-box3{
                            width: 10%;
                            font-size: 100px;
                            margin-top:110px;
                        }
                    }

                    &-bottom{
                        padding: 0 20px;
                        margin-top: -50px;
                        margin-left: 10%;
                        &-name{
                            font-size: 30px;
                            font-weight: bold;
                            color: #3901f8;
                        }

                        &-country{
                            font-size: 20px;
                            align-items: center;
                            display: flex;
                            &-img{
                                margin-right: 10px;
                                width: 10%;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
       }
    }
}