@import '~utils/style';

.school_library {
  padding-bottom: 60px;
  display:flex;
  margin-top:10px;
  background-color: @background-color;
  &-content {
    input{
        &::placeholder {
            color: #968686;
            opacity: 1; /* Firefox */
        }
    }
    width: 100%;
    padding: 0 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 6.9rem);
    grid-gap: 10px;     

    &-child{
        height: 4.8rem;
        width: 6.9rem;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        margin-top:10px;
        position: relative;
        //border-radius: 10px;
    }

    &-book_mark{
      position:absolute;
      right:5px;
      top:5px;
      font-size: 0.3rem;
    }
  }
  
  &-character{
        //width: 5%;
        height:100%;
        position: fixed;
        right:0;
        top:0;
        float: right;
        color:@primary-color;
        
        &-child{
          font-size: 0.2rem;
          text-align: center;
        }
  }
}
