@import '~utils/style';

.desktop-introduction-newsAndEvents-view{
    &-maintitle{
        font-size: 24px;
        font-weight: bold;
    }
    .ant-divider{
        margin:0px 0 14px 0;
        border-top:1px solid @primary-color;
    }

    &-content{
        .ant-tag{
            margin-top:10px;
            font-size: 16px;
            padding: 0 20px;
        }
        &-date{
            margin-top:10px;
            text-align: right;
            font-style: italic;
            color:#888;
            margin-bottom: 10px;
        }

        &-pic{
            text-align: center;
            margin-bottom: 10px;
            img{
                box-shadow: 0 0 1px 3px #888;
            }
        }

        &-content{
            margin-bottom: 10px;
            .desktop-homePage-news-content-father-child-card-desc{
                color:black;
            }
        }
    }
}
