@import '~utils/style';
body{
    overflow: unset !important;
}
.desktop-school_library{
    //padding:10px 1rem;
    color:@primary-color;

    input{
        &::placeholder {
            color: #968686;
            opacity: 1; /* Firefox */
        }
    }
    &-content{
        font-weight: 500;
        font-size: 25px;
        //background: red;
        &-title{
            //font-weight: bold;
            color:black;
        }
        &-divider{
            margin:unset;
            border-top: 1px solid @primary-color;
        }

        &-filter{
           &-country{
                margin-top:10px;
                display: flex;
                align-items: center;
               &-title{
                   width: 100px;
                   margin-right:10px;
                   font-size: 22px;
               }
           }

           &-region{
               margin-bottom: 20px;
                margin-top:10px;
                display: flex;
                align-items: center;
                &-title{
                    width: 100px;
                    margin-right:10px;
                    font-size: 22px;
                }
           }

           &-character{
                justify-content: space-between;
                margin-top: 15px;
               display: flex;
               &-child{
                    width: 10px;
                    display: flex;
                    justify-content: center;
                    font-size: 18px;
                    color:black;
                    border: 1px solid @primary-color;
                    align-items: center;
                    &-active{
                        color:black;
                        border: 1px solid black;
                    }
               }
           }
        }
    }

    &-total{
        display: flex;
        float: right;
        color:black;
        &-number{
            font-size: 30px;
            font-weight: bold;
            color:@primary-color;
        }
        &-available{
            margin-top:20px;
            font-size: 12px;
            margin-left: 5px;
        }
    }

    &-school_list{
        margin-top:50px;
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-around; */
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 1.75rem);
        grid-gap: 10px;

        &-child{
            &:hover{
                box-shadow: @primary-color 0px 0px 10px 0px;
                border-radius:20px;
            }
            margin-bottom: 50px;
            &-img{
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
            }
        }
    }
}