@import '~utils/style';
.ant-message{
  z-index: 10000;
}

.ant-drawer-body{
  padding: 0 10px;
}

.ant-drawer-footer{
  border:unset;
}

.ant-modal-wrap, .ant-image-preview-wrap{
  z-index: 10000;
}

.search {
  height: 100%;

  &-currency_selection{
    display: flex;
    align-items: center;
    &-icon{
      text-align: right;
      height: 100%;
      width: 100%;
      margin-right: 3px;
    }

    &-text{
      margin-right: 5px;
      display: flex;
      align-items: center;
    }

    &-option{
      font-size: 0;
      height:0;
      width: 0;
      select{
        //display: none;
        //width: 25px;
        background: white;
        border:unset;
        -webkit-appearance: none;
      }
    }
  }
  &-filter{
   /*  display: flex;
    align-items: center;
    justify-content: center; */
    .active{
      color:@primary-color;
      font-weight: bold;
      margin-left:unset !important;
    }
    &-content{
      .active{
        font-weight: bold;
       /*  display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden; */
        color:@primary-color;
        font-weight: bold;
      }
    } 
    

    &-selection{
      font-size: 12px;
      &-active{
        font-size: 0;
        height:0;
      }
    }

    select{
      //width: 13px;
      background: white;
      border:unset;
      -webkit-appearance: none;
    }
  }

  /* &-subMenu{
    transition: all .5s;
    display: flex;
    padding: 5px 0;
    background-color: white;
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
    position: fixed;
    width: 100%;
    height:33px;
    z-index: 1000;
    &-child{
      text-align: center;
      color:#4a3c3cad;
      flex:1;
      padding: 0 40px;
      &-box{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        //border-radius: 20px;
        //background-color: #e6e6e6;
      }
    }
  } */

  &-content {
    padding: 0 10px;
    padding-bottom: 60px;
    background-color:@background-color;
    //margin-top:40px;
    &-noContent{
      margin-top: 10px;
    }
    .ant-spin-spinning{
      width: 100%;
      margin-top: 10px;
      .ant-spin-dot-item{
        background-color: @primary-color
      }
    }
    
    &-book_mark{
      position:absolute;
      right:0;
      top:0;
      font-size: 15px;
    }

    .ant-card-body {
      width: 100%;
      padding: 5px 10px;
    }

    &-course_list {
      height: 200px;
      //background-color: red;
      border: 2px solid @primary-color;
      border-radius: 10px;
      display: flex;
      padding: 5px 5px;
      margin-bottom: 10px;

      &-picture {
        //padding: 0 10px;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .ant-upload-picture-card-wrapper {
          //width: 100%;
          //height: 100%;
          text-align: center;
        }

        .ant-upload-list-picture-card-container {
          width: 130px;
          height: 130px;
        }
      }

      &-content {
        width: 100%;
        height: 100%;
        position: relative;

        

        &-location {
          font-size: 8px;
          position: absolute;
          bottom: 0;
          width: 100%;

          &-school {
            height: 17px;
            /* margin-bottom: 8px; */
            font-size: 10px;
            color: rgb(133, 133, 133);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
         
          .am-badge-text{
            font-size:8px;
            border-radius: 5px;
          }
          //font-style: oblique
        }

        &-title {
          font-weight: bold;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          overflow: hidden;
          font-size: 12px;
          .am-badge-text{
            font-size:8px;
            border-radius: 5px;
          }
        }
      }
    }
  }

  &-drawer{
    &-footer{
      &-button{
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        margin-left:auto;
        font-size: 15px;
        &-reset{
          width: 50%;
          padding: 5px 10px;
          color:white;
          background: -moz-linear-gradient(left,  #ff8757   0%, #ff8a22 50%, #ff4a00bd 100%);
          background: -webkit-linear-gradient(left,  #ff8757   0%, #ff8a22 50%, #ff4a00bd 100%);
          background: linear-gradient(to right,  #ff8757   0%, #ff8a22 50%, #ff4a00bd 100%);
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-ok{
          width: 50%;
          padding: 5px 10px;
          color:white;
          background: @primary-color;
          border-top-right-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom-right-radius: 50px;
        }
      }
    }
    &-divider{
      background: #f2693154 ;
      margin: 15px 0;
    }

    &-title2{
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 17px;
      &-content{
        font-weight: bold;
      }

      &-setting{
        width:50px;
        font-size: 25px;
        text-align: right;
      }
    }
    &-title{
      font-size: 17px;
      margin-bottom: 5px;
      //font-weight: bold;
      &-content{
        border: 1px solid black;
        padding: 2px 10px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        .active{
          border:unset !important;
        }
        span{
          position:absolute;
          right:0;
          padding:0 5px;
        }
      }

      .active{
        color:@primary-color;
        border:1px solid @primary-color;
      }
    }
    &-selection_qualification{
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fill, 110px);
      grid-gap: 10px;
      
      .active{
        background: #f36a324d;
        color:@primary-color;
        border: 1px solid #f26931;
      }

      .sActive{
        background: #f36a324d;
        color:@primary-color;
      }
      
      &-child{
        
        padding:10px 0;
        text-align: center;
        background: #d5c6c640;
        border-radius:3px;
      }
    }
    &-selection{
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fill, 110px);
      grid-gap: 10px;

      .active{
        background: #f36a324d;
        color:@primary-color;
        border: 1px solid #f26931;
      }

      &-child{
        position: relative;
        padding:10px 0;
        text-align: center;
        background: #d5c6c640;
        border-radius:3px;
        .delete{
          position: absolute;
          border-radius: 50px;
          background-color: red;
          right: -6px;
          top: -6px;
          width: 18px;
          height: 18px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
          color: white;
        }
      }
    }

    &-dropdown{
      height:0;
    }

    select{
      font-size: 0;
      height:0;
      background: white;
      border:unset;
      -webkit-appearance: none;
    }
    
  }
}

.ant-drawer > * {
  transition: unset;
}

.drawer-book{
  position: absolute;
  right: 256px;
  font-size: 13px;
  &-child{
    width: 100px;
    height:45px;
    background: white;
    color: grey;
    padding: 5px 10px;
    border-bottom: 1px solid;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right:1px solid grey;
    right: -20px;
    position: relative;
    display: flex;

    &-box{
      width:20px;
    }
  }

  .active{
    border-right:unset;
    background: white;
    color:@primary-color;
    right: 0;
  }
}

.addQualificationMobileModal{
 // z-index: 10000;
  background-color: #00000029;
  &-grade_btn{
    width:30%;
  }
  .am-list-content{
    display: flex;
    //justify-content: space-between;
    align-items: center;
  }
  &-subject{
    width:70%;
    font-size: 15px;
    white-space:normal;
  }
  &-grade{
    font-size: 15px;
    float:right;
    //width:30%;
  }
  .am-list-header{
    
  }
  
  &-title{
    font-size: 20px;
    display: flex;
    align-items: center;
    color:black;
    position: relative;
    &-text{
      font-weight: bold;
      width: 100%;
    }

    &-setting{
      position: absolute;
      right: -5px;
      text-align: right;
      width: 10%;
      &-active{
        position: absolute;
        right: -5px;
        text-align: right;
        width: 10%;
        color:@primary-color;
      }
    }
  }
  .am-modal-content{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 10px 8px 8px black;
  }
  .submit{
    margin-top:38px;
    background-color: @primary-color;
    border-radius: unset;
    color:white;
  }
  .am-modal-body{
    overflow: unset;
  }
  .am-list-body{
    height: 335px;
    overflow: auto;
    border-bottom: unset;
  }
  .am-checkbox.am-checkbox-checked .am-checkbox-inner{
    border-color:@primary-color;
    background-color: @primary-color
  }
  .popup-list{
    height:350px;
  }
  .am-modal-popup-slide-up{
    //height:auto;
  }
}

.am-modal-wrap{
  z-index: 10000;
  background-color: #00000029;;
}

.ant-popover,.ant-popover-placement-top{
  z-index: 10001;
  //position: fixed;
    //top: 23% !important;
    opacity: 1.5;
}
.am-list-content{
  white-space: normal !important;
}
html:not([data-scale]) .am-list-body::after{
  background: unset;
}
