.desktop-newsAndEvents-view-content{
    margin-top: 54px;
    padding: 10px;
    padding-bottom: 60px;
    &-img{
        img{
            width: 100%;
        }
    }

    &-content{
        .desktop-homePage-news-content-father-child-card-desc{
            color:black;
            overflow: unset;
            text-overflow: unset;
            white-space: unset;
        }
    }

    &-title{
        font-weight: bold;
        font-size: 18px;
    }

    &-attr{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        &-date{
            font-style: italic;
            color:#888;
        }
    }
}