@import '~utils/style';

.desktop{
    &-viewSchool{
        margin-top:20px;
        height:100%;
        width: 70%;
        //position: relative;
        &-school_info{
            //height:3.90rem;
            
            display: flex;
            //align-items: center;
            &-logo{
                box-shadow: 0px 0px 15px @primary-color;
                border:1px solid @primary-color;
                width: 3rem;
                height:100%;
            }

            &-text{
                width: 100%;
                margin-left:20px;
                &-course_name{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 22px;
                    border-bottom: 1px solid @primary-color;
                }

                .active{
                    //color:@primary-color;
                    &:hover{
                        color: @primary-color;
                        cursor: pointer;
                    }
                }
                
                /* .officer{
                    color:blue;
                } */

                &-school_name{
                    margin-top:10px;
                    display: flex;
                    
                    &-icon{
                        /* display: flex;
                        align-items: center;
                        justify-content: center; */
                    }
                    
                    &-text{
                        font-size: 14px;
                        margin-left: 10px;
                        margin-top: auto;
                        margin-bottom: auto;

                        &-address{
                            font-size: 13px;
                            font-style:italic;
                        }
                    }
                }
            }
        }

        &-course_overView{
            margin-top:45px;
            &-title{
                font-size:22px;
                color:@primary-color;
            }
            .ant-divider{
                margin:10px 0;
                border-top:1px solid @primary-color;
            }
        }

        &-all_courses{
            margin-top:45px;
            &-title{
                font-size:22px;
                color:@primary-color;
            }
            .ant-divider{
                margin:10px 0;
                border-top:1px solid @primary-color;
            }
        }

        &-interest{
            margin-left:40px;
            width: 30%;
            margin-top: 20px;
            //position:fixed;
            //right:0;
            //top:0;

            .ant-card-body{
                padding: 5px;
                width: 100%;
            }
            .ant-card-cover{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-title{
                font-size: 14px;
                color: lightslategrey;
                //border-bottom: 1px solid lightslategrey;
            }

            &-course_list{
                padding:10px 0px;
                
                &-img{
                    margin-top:10px;
                    //box-shadow: 0px 0px 15px grey;
                    img{
                        box-shadow: 0px 0px 15px grey;
                        border-radius: 20px;
                        &:hover{
                            box-shadow: 0px 0px 15px @primary-color;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    &-viewSchool2{
        //padding:10px 0.6rem;
        display: flex;
    }
}