@import '~utils/style';

.desktop-n5{
    padding:0 20px;
    margin-top:54px;
    &-img{
        padding: 15px 0;
        img{
            width: 100%;
        }
    }

    &-title{
        font-weight: bold;
        color:@primary-color;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &-content{
        padding-bottom: 100px;
        
        table, th, td {
            border: 1px solid black;
            padding:5px 10px;
        }
    }
}