@import '~utils/style';

.viewCourse {
  padding: 0 10px;

  &-details {
    width: 100%;
    display: flex;
    background: white;
    padding: 10px 0 20px 0;
    &-img {
      //text-align: center;
      width: 140px;
      margin: auto;
      box-shadow: 6px 6px 2px -2px rgba(0, 0, 0, 0.2);
    }

    &-content {
      width: 50%;
      margin-top: auto;
      margin-bottom: auto;

      &-course_name {
        font-weight: bold;
        font-size: 14px;
      }

      &-desc {
        font-size: 14px;
        color: @primary-color;

        &-school_name {
          display: flex;

          &-icon {}

          &-title {
            margin-left: 5px;
          }
        }

        &-location {
          display: flex;

          &-icon {}

          &-title {
            margin-left: 5px;
            color:black;
          }
        }
      }
    }
  }

  &-description {
    padding-bottom: 100px;
    &-courseTitle{
      color:@primary-color;
      padding: 0 30px;
      font-size: 20px;
      background-color: white;
    }
    &-title {
      background-color: white;
      margin: 0 !important;
      border-top:1px solid @primary-color;
      span{
        color:@primary-color;
      }

      /* &::before{
        border-top-color:unset !important;
        border-top:1px solid @primary-color !important;
        margin-top: 15px !important;
        transform:unset !important;
      }

      &::after{
        border-top-color:unset !important;
        border-top:1px solid @primary-color !important;
        margin-top: 15px !important;
        transform:unset !important;
      } */

    }
  }

  &-course {
    &-list {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0px;
    }
  }
}
