@import '~utils/style';

.mobile-homePage-top_nav{
    width: 100%;
    height: 54px;
    color: #fbdeb0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: -moz-linear-gradient(left, #FF8D45 0%, @primary-color 50%, @primary-color 100%);
    background: -webkit-linear-gradient(left, #FF8D45 0%, @primary-color 50%, @primary-color 100%);
    background: linear-gradient(to right, #FF8D45 0%, @primary-color 50%, @primary-color 100%);
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;

    &-drawer{
      .ant-drawer-body{
        padding:0;
      } 

      .ant-drawer-wrapper-body{
        overflow: scroll;
        height: 93%;
      }
      .ant-drawer-close{
        color:white;
      }

      .ant-drawer > * {
        transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), height 0s ease 0.3s, width 0s ease 0.3s;
      }
      
      &-menu_list{
        .active{
          color:@primary-color;
        }
        &-child{
          &-box{
            display: flex;
            align-items: center;
          }
          padding: 10px 15px;
          color: #888;
          &-icon{
            width: 10%;
            text-align: center;
          }
          &-title{
            width: 80%;
            font-weight: bold;
          }
  
          &-dropdown{
            font-size: 10px;
            width: 10%;
            text-align: center;
          }

          &-content_list{
            color: #888;
            .active{
              color:black;
            }
            &-child{
              &-icon{
                width: 0;
              }

              &-title{
                padding: 3px 25px;
                font-size: 13px;
                &-tp{
                  font-style: italic;
                  font-size: 12px;
                  color: #bdbdbd;
                }
              }
            }
          }
        }
      }

      &-login_btn{
        display: flex;
        align-items: center;
        padding: 10px 15px;
        justify-content: space-between;
        border-bottom: 1px dashed #ddd;
        &-btn{
          padding: 5px 0;
          width: 100px;
          text-align: center;
          font-weight: bold;
          box-shadow: 0 0 3px 1px #d0d0d0;
          color: #f1c40f;
        }
      }

      &-main_part{
        text-align: center;
        background:@primary-color;
        padding: 10px 20px;
        &-img{
          padding: 0 0 20px 0;
          width: 100%;
          img{
            width: 50%;
          }
        }

        &-login{
          color:white;
        }
      }
    }
    

    &-img{
      width: 50%;
      text-align: center;
      img{
        width: 100%;
      }
    }

    &-icon{
      text-align: right;
      width: 20%;
      font-size: 20px;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector{
      border-radius: 5px;
    }
  }