@import '~utils/style';

.desktop{
    &-viewCourse{
        margin-top:20px;
        height:100%;
        width: 70%;
        //position: relative;
        &-school_info{
            //height:3.90rem;
            
            display: flex;
            //align-items: center;
            &-logo{
                box-shadow: 0px 0px 15px @primary-color;
                border:1px solid @primary-color;
                width: 1.02rem;
                height:100%;
            }

            &-text{
                width: 100%;
                margin-left:20px;
                position: relative;
                &-course_name{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 20px;
                    border-bottom: 1px solid @primary-color;
                }

                &-apply{
                    position: absolute;
                    bottom: 0;
                    right:0;
                    border-radius: 3px;
                    background: #3f51b5;
                    padding: 5px 10px;
                    color: white;
                    cursor: pointer;
                }

                .active{
                    //color:@primary-color;
                    &:hover{
                        cursor: pointer;
                        color: @primary-color;
                    }
                }
                

                &-school_name{
                    margin-top:10px;
                    display: flex;
                    
                    &-text{
                        font-size: 16px;
                        margin-left: 10px;
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                }
            }
        }

        &-course_overView{
            margin-top:45px;
            &-title{
                font-size:20px;
                color:@primary-color;
            }
            .ant-divider{
                margin:10px 0;
                border-top:1px solid @primary-color;
            }
        }

        &-interest{
            margin-left:40px;
            width: 30%;
            margin-top: 20px;
            //position:fixed;
            //right:0;
            //top:0;

            .ant-card-body{
                padding: 5px;
                width: 100%;
            }
            .ant-card-cover{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-title{
                font-size: 14px;
                color: lightslategrey;
                //border-bottom: 1px solid lightslategrey;
            }

            &-course_list{
                //padding:10px 0px;
                .active{
                    margin-top:10px;
                    &:hover{
                        cursor: pointer;
                        box-shadow: 0px 0px 15px @primary-color;
                    }
                }
                &-content{
                    &-title{
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        overflow: hidden;
                        font-size: 13px;
                        .am-badge-text{
                            font-size: 12px;
                        }
                    }

                    &-location{
                        &-school{
                            height: 17px;
                            font-size: 12px;
                            color: rgb(133, 133, 133);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        &-studyFields{
                            .am-badge-text{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    &-viewCourse2{
        //padding:10px 0.6rem;
        display: flex;
    }
}