@import '~utils/style';

.desktop-provideCourses{
    &-img{
        img{
            width:100%;
        }
    }
    &-content{
        margin-top: 40px;
        display: flex;
        &-left{
            padding-right: 40px;
            width: 80%;
        }
        &-right{
            width: 20%;
        }
    }
}

.desktop-provideCourses-n4{
    &-maintitle{
        font-size: 24px;
        font-weight: bold;
        position: relative;
        &-apply{
            position: absolute;
            right: 0;
            border-radius: 3px;
            padding: 5px 10px;
            text-align: center;
            color: white;
            top: 0;
            font-size: 14px;
            background: #3f51b5;
            cursor: pointer;
        }
    }
    &-divider{
        margin:0px 0 14px 0;
        border-top:1px solid @primary-color;
    }

    &-content{
        table, th, td {
            border: 1px solid black;
            padding:5px 10px;
        }
        font-size: 13px;
       &-title{
           font-weight: bold;
           color:@primary-color;
           font-size: 16px;
       }
    }
}