@import '~utils/style';

.desktop-applyform{
    width: 520px !important;
    .ant-btn-primary{
        background-color:@primary-color;
        border-color:@primary-color;
        color:white !important;
    }
    .ant-btn:hover, .ant-btn:focus{
        color: @primary-color !important;
        border-color: @primary-color !important;
    }
    .ant-btn .ant-btn-primary{
        color: white !important;
    }

    input{
        margin-top: 10px;
    }

    textarea{
        margin-top: 10px;
    }

    &-radio_title{
        margin-bottom: 3px;
        font-weight: bold;
    }
}