@import '~utils/style';

.desktop-about_us{
    padding:0 20px;
    margin-top:54px;
    &-img{
        padding: 15px 0;
        img{
            width: 100%;
        }
    }

    &-title{
        font-weight: bold;
        color:@primary-color;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &-content{
        padding-bottom: 60px;
        font-size: 13px;

        &-title{
            color:#debb00;
            font-size: 18px;
            font-weight: bold;
        }
    }
}