@import '~utils/style';

.desktop-newsAndEvents{
    padding:0 20px;
    margin-top:54px;
    &-img{
        padding: 15px 0;
        img{
            width: 100%;
        }
    }

    &-title{
        font-weight: bold;
        color:@primary-color;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &-content{
        padding-bottom: 60px;
        
        &-list{
            &-box{
                margin-bottom: 10px;
                display: flex;
                border-radius: 3px;
                background:white;
                padding:10px;
                &-left{
                    width: 35%;
                    &-img{
                        img{
                            width: 100%;
                        }
                    }
                    &-type{
                        margin-top: 10px;
                    }
                }

                &-right{
                    margin-left:10px;
                    width: 65%;

                    &-date{
                        font-size: 13px;
                        font-style: italic;
                        color: #888;
                    }
                }
            }
        }
    }
}