@import '~utils/style';

.desktop-ourPartners{
    padding:0 20px;
    margin-top:54px;
    &-img{
        padding: 15px 0;
        img{
            width: 100%;
        }
    }

    &-title{
        font-weight: bold;
        color:@primary-color;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &-content{
        padding-bottom: 60px;
        .ant-tabs-tab:hover{
            color:@primary-color;
        }
        .ant-tabs-tab-btn{
            color:#888;
        }
        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
            color:@primary-color;
        }
        .ant-tabs-top > .ant-tabs-nav::before, 
        .ant-tabs-bottom > .ant-tabs-nav::before, 
        .ant-tabs-top > div > .ant-tabs-nav::before, 
        .ant-tabs-bottom > div > .ant-tabs-nav::before{
            border-bottom: 1px solid #ddd;
        }
        .ant-tabs-ink-bar{
            background:@primary-color;
        }
        .ant-tabs-top{
            margin-top:30px;
        }
        
        .desktop-introduction-ourPartners-content-tab{
            display:block;
            margin-top: 15px;
        }

        .desktop-introduction-ourPartners-content-tab-child{
            padding: unset; 
            margin-right: unset;
            width: unset;
            margin-top: 20px;
        }
        .desktop-introduction-ourPartners-content-tab{
            .active{
                color:blue;
            }
        }
    }
}