@import '~utils/style';

.desktop-testimonial{
    padding:0 20px;
    margin-top:54px;
    &-img{
        padding: 15px 0;
        img{
            width: 100%;
        }
    }

    &-title{
        font-weight: bold;
        color:@primary-color;
        font-size: 20px;
    }

    &-content{
        overflow-x: hidden;
        padding-bottom: 60px;
        
        &-child{
            margin-top: 40px;
            padding:20px;

            position: relative;
            display: flex;
            height: 130px;
            &-btn{
                position: absolute;
                right: 0;
                height:100%;
                display: flex;
                align-items: center;
                top:0;

                &-box{
                    background-color: @primary-color;
                    color: white;
                    font-size: 18px;
                    text-align: center;
                    line-height: 30px;
                    width: 30px;
                    height: 30px;
                }
            }
            &-img{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 96px;
                img{
                    width: 100%;
                }
            }

            &-right{
                margin-left: auto;
                width: 70%;
                margin-top: auto;
                margin-bottom: auto;
                &-name{
                    font-weight: bold;
                    font-size: 20px;
                    color:#3901f8;
                }
                &-country{
                    color:black;
                    display: flex;
                    font-weight: bold;
                    &-img{
                        width: 15%;
                        margin-right: 10px;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            &-content{
                transition: all 0.5s;
                position: absolute;
                width: 95%;
                background: #000000b5;
                top: 0;
                height: 100%;
                color: white;
                font-size: 11px;
                padding: 10px 23px;

                &-btn{
                    position: absolute;
                    left:-15px;
                    top:0;
                    height:100%;
                    display: flex;
                    align-items: center;
                    &-box{
                        background-color: @primary-color;
                        color: white;
                        font-size: 18px;
                        text-align: center;
                        line-height: 30px;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}