@import '~utils/style';

.mobile-desc{
    .ant-card-meta-title {
      text-overflow: unset;
      font-size: 12px;
      white-space: unset;
    }
    
    .ant-collapse .ant-collapse-item .ant-collapse-header svg {
      color: #f1662f;
    }
    .slick-list{
      height:100%;
    } 
  }

.ant-spin-spinning{
  width: 100%;
  i{
    background: @primary-color;
  }
}

.slick-slide ,.slick-active, .slick-current{
  .onlyPicture{
    width: auto !important;
  } 
}