@import '~utils/style';

.desktop-counselorServices{
    padding:0 20px;
    margin-top:54px;
    &-img{
        padding: 15px 0;
        img{
            width: 100%;
        }
    }

    &-title{
        font-weight: bold;
        color:@primary-color;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &-content{
        padding-bottom: 60px;
        
        
    }
}