@import '~utils/style';
body{
    overflow: unset !important;
}
.desktop-search{
    //padding:10px 1rem;
    color:@primary-color;
    &-modal{
        &-addQualificationSubject2{
            width: 100%;
            display: flex;
            align-items: center;
        }
        &-addQualificationSubject{
            display: flex;
            flex-flow: row wrap;
            &-subjectList{
                display: flex;
                align-items: center;
                flex: 0 0 50%;
                margin-top:10px;
                //flex-flow: row wrap;
                &-grade{
                    display: flex;
                    flex-flow: row wrap;
                    &-child{
                        border: 1px solid black;
                        border-radius: 15px;
                        padding: 5px 5px;
                        margin-right: 10px;
                        width: 30px;
                        text-align: center;
                        flex: 0 0 22%;
                        margin-top: 5px;
                        cursor: pointer;
                        
                        &:hover{
                            border: 1px solid @primary-color
                        }
                    }
                }

                &-submited_list{
                    display: flex;
                    justify-content: space-between;
                    //flex: 0 0 45%;
                    //margin-top: 10px;
                    width: 90%;
                    cursor: pointer;
                    border-radius: 7px;
                    border:1px solid black;
                    padding: 10px 10px;
                    margin-right:10px;
                }
            }

            
            .ant-checkbox-group{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                .ant-checkbox-group-item{
                    margin-top: 10px;
                    flex: 0 0 30%;
                    border: 1px solid black;
                    padding: 12px 15px;
                    border-radius: 10px;
                    box-shadow: 3px 3px 0px 0px #aaaaaa;
                }
            }
            
        }
    }
    /* &-content{
        font-weight: 500;
        font-size: 25px;
        //background: red;

        &-qualification_setting{
            margin-right:10px;
            font-size: 15px;
            display: flex;
            height: 100%;
            align-items: center;

            &-btn{
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }

        &-qualification{
            display: flex;
            flex-flow: row wrap;
            padding: 0 10px;
            &-child{
                margin-top: 5px;
                border-radius: 12px;
                padding: 5px 25px;
                border: 1px solid black;
                font-size: 14px;
                margin-right: 5px;
                color:black;
                cursor: pointer;
            }
            .active{
                color: @primary-color;
                border: 1px solid @primary-color;
            }

            .Sactive{
                color:white;
                border: 1px solid @primary-color;
                background-color: @primary-color;
            }
            .Cactive{
                color:#00000045;
                border: 1px solid #00000040;
                cursor: not-allowed;
            }
        }
        &-title{
            //font-weight: bold;
            color:black;
        }
        &-divider{
            margin:unset;
            border-top: 1px solid @primary-color;
        }

        &-filter{
            padding:10px 10px;
            .active{
                .ant-select-selector{
                    border:1px solid @primary-color !important;
                    &:hover{
                        border-color: @primary-color !important;
                    }

                    .ant-select-selection-item{
                        color:@primary-color !important;
                    }
                }
                .ant-select-arrow{
                    color:@primary-color !important;
                }
            }

            .ant-select-selector{
                border-radius: 10px !important;
                &:hover{
                    border-color: @primary-color !important;
                }
            }

            .ant-btn {
                border:1px solid @primary-color;
                margin-right:10px;
                border-radius: 10px;
                //color:@primary-color;
                :hover{
                    color:unset;
                }
            }
            .ant-btn:hover{
                color:@primary-color;
                border:1px solid @primary-color;
            }
            
            .ant-radio-checked{
                .ant-radio-inner {
                    border-color: @primary-color;
                }

                .ant-radio-inner::after{
                    background-color: @primary-color;
                }
            }
            &-child{
                margin-right:5px;
                border-radius: 10px;
                border:1px solid @primary-color;
            }

            &-addBtn{
                display: flex;
                margin-top:20px;
                &-title{
                    border-right: 1px solid black;
                    width: 200px;
                    .ant-btn {
                        border:unset;
                        color:@primary-color;
                        //background-color: @primary-color;
                    }

                    &-requirement{
                        height: 40px;   
                        display:flex;
                        align-items: center;
                        div{
                            //padding:10px 0;
                            font-size: 15px;
                            font-weight: bold;
                            color:black;
                        }
                    }
                }

                &-child{
                    //display: flex;
                    margin-left:10px;
                    &-list{
                        height: 40px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    } */


    &-content{
        margin-bottom: 10px;
        //position: absolute;
        //left: 0;
        background: #ddd;
        //width: 100%;
        //top: 122px;
        //height: 200px;
        z-index: 20;
        padding:20px 0;

        &-total{
            text-align: right;
            &-child{
                display: flex;
                margin-left: auto;
                color: black;
                width: 155px;
                &-number{
                    font-size: 30px;
                    font-weight: bold;
                    color:@primary-color;
                }
                &-available{
                    margin-top:20px;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }

        &-qualification{
            &-title{
                font-weight: bold;
                font-size: 20px;
                color:black;
                margin-top: 20px;
            }

            &-list{
                /* flex-wrap: wrap;
                display: flex; */
                display: grid;
                justify-content: space-between;
                grid-template-columns: repeat(auto-fill, 225px);
                &-child{
                    display: flex;
                    margin-top:5px;
                    text-align: center;
                    flex:1;
                    
                    &-name{
                        padding: 0px 20px;
                        background: #80808038;
                        color: #00000040;
                        display: flex;
                        border-radius: 3px;
                        background-color: #f5f5f5;
                        border-color: #d9d9d9;
                        width: 100px;
                        align-items: center;
                        justify-content: center;
                        cursor: no-drop;
                        &-active{
                            color: @primary-color;
                            width: 100px;
                            border-radius: 3px;
                            background: white;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: bold;
                            &-selected{
                                color: white;
                                background: @primary-color;
                                width: 100px;
                                border-radius: 3px;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: bold;
                            }
                        }
                    }

                    &-func{
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        width: 100px;
                        .active{
                            color:@primary-color;
                            cursor: pointer;
                        }
                        &-button{
                            color:#b5acac;
                            flex:1;
                            cursor: no-drop;
                        }
                    }
                }
            }
        }
        
    }
    &-total{
        display: flex;
        float: right;
        color:black;
        &-number{
            font-size: 30px;
            font-weight: bold;
            color:@primary-color;
        }
        &-available{
            margin-top:20px;
            font-size: 12px;
            margin-left: 5px;
        }
    }

    &-course_list{
        background-color: @background-color;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 240px);
        grid-gap: 10px;
        //margin-top:260px;
        
        &-box{
            cursor: pointer;
            transition: all 0.2s ease-in-out 0s;
            margin-top: 10px;
            background-color: white;
            border-radius: 8px;
            padding: 5px 10px;
            position: relative;

            &-ribbon{
                position: absolute;
                right: 0;
                top: 225px;
                width: 100%;
                text-align: right;
                &-title{
                    width: 60%;
                    text-align: center;
                    z-index: 1;
                    background: @primary-color;
                    color: white;
                    position: absolute;
                    right: -14px;
                    font-size: 13px;
                }

                &-tail{
                    position: absolute;
                    width: 0;
                    height: 0;
                    border: 7px solid transparent;
                    border-bottom: 14px solid #ff8d5e;
                    right: -17px;
                    top: 10px;
                    transform: rotate(90deg);
                }
            }
            &-course_name{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 13px;
                margin-top: 10px;
                color:black;
                height:40px;
            }

            &-ef{
                margin-top:10px;
                font-size: 13px;
            }

            &-bottom_right{
                margin-top: 15px;
                text-align: right;
                font-size: 11px;
                
                &-school{
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-align: left;
                    font-style: italic;
                    color: #a2a0a0;
                    height: 34px;
                }

                &-country{
                    color: #ff9800;
                    font-weight: bold;
                }
            }

            &-img{
                width: 100%;
            }
            &-tag{
                display: flex;
                border-radius: 3px;
                margin-top: 36px;
                .ant-tag{
                    font-size: 11px;
                }
                .ant-tag-cyan{
                    font-size: 10px;
                }
                &-child{
                    padding: 2px 5px;
                    background-color: @primary-color;
                    color:white;
                }
            }
            &:hover{
                box-shadow: 0 0 15px 1px #80808073;
                transform: translate(0px, -3px);
            }
        }

        &-child{
            &:hover{
                position: relative;
                top:-15px; 
            }
            cursor: pointer;
            margin-bottom: 50px;
            width: 300px;
            &-img{
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
            }
            &-desc{
                padding:10px 10px;
                &-school_name{
                    font-size: 15px;
                    color:grey;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &-title{
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    //overflow: hidden;
                    /* white-space: nowrap;*/
                    overflow: hidden;
                    //text-overflow: ellipsis; 
                    color:black;
                    font-weight: bold;
                }
            }
        }
    }

}

.ant-select-focused{
    .ant-select-selector{
        border-color: @primary-color !important;
        border:1px solid @primary-color !important;
        box-shadow: 0 0 0 2px #f2693178 !important;
    
        &:hover{
            border-color: @primary-color !important;
            border:1px solid @primary-color !important;
        }
    }
}
.ant-select-selector{
    border-radius:3px;
    &:hover{
        border:1px solid @primary-color !important;
    }
}
.ant-select-item-option-selected{
    background-color: #f2693178 !important;
}
.ant-select-single{
    margin-right: 5px;
}
// .ant-modal{
//     width:90% !important;
// }

.ant-popover{
    z-index: 10000;
    width: 300px;
}
.ant-checkbox-inner:hover{
    border:1px solid @primary-color;
}
.ant-checkbox-checked::after{
    border:1px solid @primary-color;
}
.ant-checkbox-checked .ant-checkbox-inner{
    border:1px solid @primary-color;
    background-color: @primary-color
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
    border:1px solid @primary-color;
}
.ant-modal-mask{
    z-index: 1001;
}