.loading_page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
  &-content {
    width: 22%;
    height: 15%;
    background-color: #4d4d4d;
    border-radius: 10px;
    padding: 20px 0;

    &-icon {
      height: 70%;
      text-align: center;
    }

    &-msg {
      height: 30%;
      color: white;
      text-align: center;
    }
  }
}
