@import '~utils/style';

.desktop-title_menu{
    &-title{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
    }

    &-list{
        //display: flex;
        background-color: #f1f1f1;
        &-menu{
            border-bottom:1px solid #ddd;
            padding: 10px;
            cursor: pointer;

            &:hover{
                color:white;
                background-color: @primary-color;
            }
        }

        .active{
            color:white;
            background-color: @primary-color;
            cursor: default;
        }
    }
}