.mobileLayout {
  &-main {
    height: 100%;
    &-content {
      height: 100%;
      padding-bottom: 50px;
    }

    &-bottom_button {
      z-index: 10000;

      .am-tab-bar-tab {
        height: unset;
        border-top: unset;
      }

      div.am-tab-bar-bar {
        height: 50px;
      }

      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
