@import '~utils/style';

.my {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color:#80808008;

  &-scroll{
    padding-bottom: 60px;
    overflow: auto;
    margin-top: 130px;
    height: 80%;
  }
  &-beauty {
    height: 130px;
    display: flex;
    //background: @primary-color;
    background: -moz-linear-gradient(left, #FF8D45 0%, @primary-color 50%, @primary-color 100%);
    background: -webkit-linear-gradient(left, #FF8D45 0%, @primary-color 50%, @primary-color 100%);
    background: linear-gradient(to right, #FF8D45 0%, @primary-color 50%, @primary-color 100%);
    padding:10px 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;

    &-icon{
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      color:#ffffffa3;
      //font-size: 20px;
    }
    &-avatar{
      font-size: 80px;
      color: @primary-color;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-status{
      display: flex;
      width: 60%;
      //justify-content: center;
      align-items: center;
      &-info{
        margin-left:10px;
        color:white;
        font-size: 18px;
        font-weight: bold;
      }
      &-loginBtn{
        font-weight: bold;
        margin-left:10px;
        border: unset;
        font-size: 23px;
        color:white;
        //background-color:  @primary-color;
        //width: 80px;

      }

      a:hover{
        color:unset;
      }
    }
  }

  &-info {
    height: 23%;
    //background-color: blue;
    position: relative;
    z-index: 1000;
    margin-top: -30%;
    display: flex;
    justify-content: center;

    &_sub {
      width: 93%;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19) !important;
      display:flex;

      &-avatar{
        font-size: 80px;
        color: @primary-color;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-status{
        display: flex;
        width: 60%;
        //justify-content: center;
        align-items: center;

        &-loginBtn{
          border: unset;
          font-size: 15px;
          color:white;
          background-color:  @primary-color;
          //width: 80px;

        }

        a:hover{
          color:unset;
        }
      }
    }
  }

  &-logout{
    margin-top:5px;
    border-radius: 0px;
    color: @primary-color;
    //background: @primary-color;
  }

  &-list {
    //height: 500px;
    //margin-top: 5%;
    overflow: scroll;

    &_child {
      height: 70px;

      &-icon {
        &_language {
          font-size: 20px;
          color: @primary-color;
        }
      }
    }
  }
}

.am-modal-transparent{
  .am-modal-input, input{
    text-align: center;
  }
}

